/************************************************/
#profil-content {
  position: relative;
  top: 10vh;
  display: grid;
  grid-template-rows: auto;
  width: 50vw;
  height: auto;
  margin: 0vh 25vw;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-bottom: 5vh;
  animation: fade 800ms ease-in-out;
}
#profil-top-container {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#name-container {
  width: 50%;
  margin: 4% 25% 2% 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 25px;
  #pp-username {
    font-style: italic;
    font-weight: 800;
    letter-spacing: 1px;
  }
  #pp-fullname {
    word-spacing: 5px;
    letter-spacing: 2px;
  }
}

#pp {
  width: 25%;
  height: auto;
  border-radius: 50%;
  margin-bottom: -5%;
}

#info-container {
  padding-left: 5vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  ul {
    list-style: square outside;
    width: 90%;
    padding-top: 4vh;
    padding-left: 2vw;
    padding-bottom: 5vh;
    border-radius: 15px;
    li {
      margin: 3vh 0;
      width: 70%;
      font-size: 1.8vw;
      border-radius: 10px;
      padding: 1% 2% 1% 2%;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/*****************************************************/
