<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/static/./stylesheets/error.css" />
     <!-- <link rel="stylesheet" href="/static/stylesheets/homeStyles/home.css" /> -->
    <link rel="stylesheet" href="/static/./stylesheets/animation.css" />
    <link rel="stylesheet" href="/static/./stylesheets/formStyles/formColor.css" />
    <link rel="stylesheet" href="/static/./stylesheets/formStyles/login.css" />
    <script type="module" src="/static/./socket/initForum.mjs"></script>
    <title>Forum</title>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
