<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheets/homeStyles/home.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/error.css" />

    <link rel="stylesheet" href="./stylesheets/animation.css" />
    <link rel="stylesheet" href="./stylesheets/formStyles/formColor.css" />

    <link rel="stylesheet" href="./stylesheets/formStyles/login.css" />
    <title>Forum</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img class="logo-img" src="./assets/realtime-logo.png" alt="logo" />
        <h1>Forum</h1>
        <img class="tooglerleftimg" src="" alt="" />
      </div>
      <div class="others-page">
        <ul>
          <li id="homeTab" class="active" style="margin-right: 20px">
            <a href="#">Home</a>
          </li>
          <li id="profileTab"><a href="#"></a></li>
        </ul>
      </div>
      <div class="user-nav">
        <div class="user-nav-info">
          <span class="presence-status"></span
          ><span class="user_nav-img"
            ><img
              class="options-menu-img"
              src="./assets/boy.gif"
              alt="" /></span
          ><span class="username">@mthiaw</span>
        </div>
      </div>
    </nav>
    <div class="profile-toogle">
      <div class="toogle-allelement">
        <div class="disconnection-button">
          <button class="logout-button">
            <img src="./assets/logout.png" alt="" /><span>Logout</span>
          </button>
        </div>
      </div>
    </div>
    <section class="main-content">
      <div class="create-post">
        <div class="add-post-container">
          <h2>Post</h2>
          <form id="addPostForm">
            <input
              type="text"
              minlength="2"
              maxlength="25"
              id="postTitleInput"
              placeholder="Enter post title..." /><textarea
              maxlength="1500"
              minlength="2"
              required=""
              id="postText"
              placeholder="what's new ?..."></textarea
            ><select id="postCategories" multiple="" class="collapsible-select">
              <option value="sport">Sport</option>
              <option value="art">Art</option>
              <option value="cinema">Cinema</option>
              <option value="music">Music</option>
              <option value="computer-science">Computer-science</option></select
            ><input
              type="file"
              id="postImage"
              placeholder="Parcourir"
              accept="image/*"
              style="display: none" />
            <div class="validation-post">
              <button type="button">Post</button>
            </div>
          </form>
        </div>
      </div>
      <div class="feed">
        <div class="feedpost" id="00a3532a-8bf4-4ec1-979b-055263721585">
          <div class="post-categories"><p class="cinema">cinema</p></div>
          <div class="user-publish">
            <img src="./assets/boy.gif" alt="" /><span class="publisher-name"
              >@mthiaw</span
            >
          </div>
          <div class="a-post">
            <pre class="postTitle-Content">power</pre>
            <div class="post-text"><pre>feel the world</pre></div>
            <img src="" alt="" />
          </div>
          <div class="reaction-table">
            <div class="about-comment">
              <div class="comment-reaction">
                <img src="./assets/comment.png" alt="" /><span
                  class="reaction-text"
                  >Comment</span
                ><span class="comment-counter">0</span>
              </div>
            </div>
          </div>
          <div class="allaboutcomment">
            <div class="comments-section" id="commentsSection"></div>
            <div class="new-comment-form" id="newCommentForm">
              <textarea
                class="Toaddacomment"
                required=""
                maxlength="1500"
                minlength="2"
                placeholder="Add a comment..."></textarea
              ><button>Post</button>
            </div>
          </div>
        </div>
        <div class="feedpost" id="54987718-f449-42a4-a9bf-e5a8b277f553">
          <div class="post-categories"><p class="art">art</p></div>
          <div class="user-publish">
            <img src="./assets/boy.gif" alt="" /><span class="publisher-name"
              >@mthiaw</span
            >
          </div>
          <div class="a-post">
            <pre class="postTitle-Content">ANOTHER</pre>
            <div class="post-text"><pre>there you go</pre></div>
            <img src="" alt="" />
          </div>
          <div class="reaction-table">
            <div class="about-comment">
              <div class="comment-reaction">
                <img src="./assets/comment.png" alt="" /><span
                  class="reaction-text"
                  >Comment</span
                ><span class="comment-counter">0</span>
              </div>
            </div>
          </div>
          <div class="allaboutcomment">
            <div class="comments-section" id="commentsSection"></div>
            <div class="new-comment-form" id="newCommentForm">
              <textarea
                class="Toaddacomment"
                required=""
                maxlength="1500"
                minlength="2"
                placeholder="Add a comment..."></textarea
              ><button>Post</button>
            </div>
          </div>
        </div>
        <div class="feedpost" id="340e9963-3c3f-4904-906f-f055d4f74f28">
          <div class="post-categories">
            <p class="sport">sport</p>
            <p class="art">art</p>
            <p class="cinema">cinema</p>
            <p class="music">music</p>
            <p class="computer-science">computer-science</p>
          </div>
          <div class="user-publish">
            <img src="./assets/boy.gif" alt="" /><span class="publisher-name"
              >@mthiaw</span
            >
          </div>
          <div class="a-post">
            <pre class="postTitle-Content">FIRST POST</pre>
            <div class="post-text">
              <pre>
HI PEOPLE !
Welcome to vm's forum</pre
              >
            </div>
            <img src="" alt="" />
          </div>
          <div class="reaction-table">
            <div class="about-comment">
              <div class="comment-reaction">
                <img src="./assets/comment.png" alt="" /><span
                  class="reaction-text"
                  >Comment</span
                ><span class="comment-counter">0</span>
              </div>
            </div>
          </div>
          <div class="allaboutcomment">
            <div class="comments-section" id="commentsSection"></div>
            <div class="new-comment-form" id="newCommentForm">
              <textarea
                class="Toaddacomment"
                required=""
                maxlength="1500"
                minlength="2"
                placeholder="Add a comment..."></textarea
              ><button>Post</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="right-sidebar">
      <div class="allinfo-msg" id="chatbox" style="display: block">
        <div class="message-popup" id="messagePopup">
          <div class="message-popup-content">
            <div class="message-popup-header">
              <span class="close-button">×</span>
              <h3 id="title-name">@sniang</h3>
            </div>
            <div class="message-popup-body" id="messagePopupBody">
              <div
                class="message-item"
                data-id="414c3b51-8cf4-40ee-8ae8-ab89ea56f628">
                <span>moi <small id="date-text">19/02/2024 19:48</small></span>
                <div>nolp</div>
              </div>
              <div
                class="message-item"
                data-id="d9fcf672-2f3f-4b76-a362-15fcbfa7bea0">
                <span>moi <small id="date-text">19/02/2024 19:49</small></span>
                <div>core</div>
              </div>
              <div
                class="message-item"
                data-id="d9454d22-18d6-4270-9b07-53091b6fcc22">
                <span>moi <small id="date-text">19/02/2024 19:49</small></span>
                <div>corei7</div>
              </div>
              <div
                class="message-item"
                data-id="a15c5cc6-98f9-4999-9d48-4ae0610924c8">
                <span>moi <small id="date-text">19/02/2024 19:50</small></span>
                <div>core i8</div>
              </div>
              <div
                class="message-item"
                data-id="1b80ea7d-1f29-4792-b2e9-515ab06dc6c9">
                <span>moi <small id="date-text">19/02/2024 19:52</small></span>
                <div>const</div>
              </div>
              <div
                class="message-item"
                data-id="82bd0291-77d1-4e1f-8163-1b3b1e17ed13">
                <span>moi <small id="date-text">19/02/2024 19:52</small></span>
                <div>frer</div>
              </div>
              <div
                class="message-item"
                data-id="6b37c272-3d0c-4acc-b2e1-e953ece65945">
                <span>moi <small id="date-text">19/02/2024 19:53</small></span>
                <div>test con</div>
              </div>
              <div
                class="message-item"
                data-id="3dab69bf-4273-457d-9080-301bc21e44f8">
                <span>moi <small id="date-text">19/02/2024 19:53</small></span>
                <div>lorem</div>
              </div>
              <div
                class="message-item"
                data-id="c0a573e8-a425-4b08-9989-5ee3de2e4158">
                <span
                  >@sniang <small id="date-text">19/02/2024 19:53</small></span
                >
                <div>makeover</div>
              </div>
              <div
                class="message-item"
                data-id="3d91fcbd-eb6c-417e-bcef-425743762b2d">
                <span
                  >@sniang <small id="date-text">19/02/2024 19:54</small></span
                >
                <div>loreover</div>
              </div>
            </div>
            <div class="message-popup-footer">
              <textarea
                id="newMessageInput"
                placeholder="Write your message"></textarea
              ><button>Send</button>
            </div>
          </div>
        </div>
      </div>
      <div class="online-users">
        <h3 class="on-or-offline">Online users</h3>
        <div id="connected-container"></div>
      </div>
      <div class="offline-users">
        <h3 class="on-or-offline">Offline users</h3>
        <div id="disconnected-container">
          <div class="disconnected-users">
            <div class="user-disconnected">
              <div class="isnotconnected-info">
                <span class="is-notconnected"></span
                ><img src="./assets/boy.gif" alt="@Christine" /><span
                  class="isnotconnected-name"
                  >@Christine</span
                ><span class="connection-indicator"></span>
              </div>
            </div>
          </div>
          <div class="disconnected-users">
            <div class="user-disconnected">
              <div class="isnotconnected-info">
                <span class="is-notconnected"></span
                ><img src="./assets/boy.gif" alt="@ranos" /><span
                  class="isnotconnected-name"
                  >@ranos</span
                ><span class="connection-indicator"></span>
              </div>
            </div>
          </div>
          <div class="disconnected-users">
            <div class="user-disconnected">
              <div class="isnotconnected-info">
                <span class="is-notconnected"></span
                ><img src="./assets/boy.gif" alt="@sniang" /><span
                  class="isnotconnected-name"
                  >@sniang</span
                ><span class="connection-indicator"></span>
              </div>
            </div>
          </div>
          <div class="disconnected-users">
            <div class="user-disconnected">
              <div class="isnotconnected-info">
                <span class="is-notconnected"></span
                ><img src="./assets/boy.gif" alt="@vindour" /><span
                  class="isnotconnected-name"
                  >@vindour</span
                ><span class="connection-indicator"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
